header {
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: linear-gradient(
		112.1deg,
		rgba(32, 38, 57, 1) 11.4%,
		rgba(63, 76, 119, 1) 70.2%
	);
}

.wallet {
	max-height: 80px;
}

.content {
	color: var(--c-lightgray);
}
