.wrapper {
	display: flex;
	justify-content: center;
}

.box {
	padding: 1em 2em;
	background-color: #ffffff;
	box-shadow: var(--box-shadow);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span:first-child {
		font-size: 1em;
		text-transform: uppercase;
		margin-bottom: 0.5em;
	}
}
.income {
	color: var(--c-green);
}

.expense {
	color: var(--c-red);
}
