.wrapper {
	display: flex;
	justify-content: center;
	color: var(--c-black);
	margin: 1em 0;
}

.box {
	padding: 1em 1.5em;
	background-color: #ffffff;
	border-radius: 50px 0 0 50px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	span:first-child {
		font-size: 1em;
		margin-bottom: 0.25em;
	}
	&:last-child {
		border-radius: 0 50px 50px 0;
	}
}
.income {
	color: var(--c-green);
}

.expense {
	color: var(--c-red);
}
