.addTransaction {
	width: 100%;
	margin: 3em 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h4 {
		margin-bottom: 1em;
	}
}

.formControl {
	display: flex;
	height: 40px;

	input[type='text'] {
		min-width: 180px;
	}

	input[type='submit'] {
		margin-left: 1em;
		color: var(--c-lightgray);
		padding: 0.5em 1em;
		background-color: var(--c-primary);
		border: 1px solid transparent;
		border-radius: 0;
		cursor: pointer;

		&:hover,
		&:focus {
			outline: none;
		}
		&:disabled {
			background-color: #979797;
			pointer-events: none;
			cursor: default;
		}
	}

	select,
	input[type='text'],
	input[type='number'] {
		width: 100px;
		padding: 4px 18px 4px 16px;
		color: #616161;
		border-radius: 0;
		border: 0;
		font-family: 'Lato', sans-serif;
		background-color: #ffffff;
		border-left: 1px solid var(--c-lightgray);
		&:hover,
		&:focus {
			background-color: var(--c-lightgray);
			color: var(--c-black);
			outline: none;
		}
	}
}

.select {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;

	select {
		appearance: none;
		border-radius: 0;
		cursor: pointer;
		outline: 0;
		margin: 0;
		height: 100%;
		border-left: 0;

		option:checked {
			color: #111111;
		}

		&::ms-expand {
			display: none;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&:after {
		content: '\21E3';
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
		color: #999999;
	}
}

@media only screen and (max-width: 580px) {
	.formControl {
		flex-direction: column;
		background-color: transparent;
		width: 280px;
		height: auto;
		position: relative;

		input[type='submit'] {
			margin-left: 0;
		}
		.select,
		input[type='text'],
		input[type='number'] {
			width: 100%;
			margin-bottom: 1em;
			height: 40px;
			border: 1px solid var(--c-lightgray);
		}
	}

	.select {
		select {
			width: 100%;
		}
	}
	.select:after {
		top: 50%;
		transform: translateY(-50%);
	}
}
