.addTransaction {
	height: 40px;
	margin: 2em auto;
	width: 100%;
	form {
		height: 100%;
		display: flex;
		justify-content: center;
	}
}

.formControl {
	display: flex;
	height: 100%;
	background-color: #ffffff;

	input[type='text'] {
		min-width: 180px;
	}

	select,
	input[type='text'],
	input[type='number'] {
		width: 100px;
		padding: 4px 18px 4px 16px;
		color: #616161;
		border-radius: 0;
		border: 0;
		font-family: 'Lato', sans-serif;

		background-color: transparent;
		border-left: 1px solid var(--c-lightgray);
		&:hover,
		&:focus {
			background-color: var(--c-lightgray);
			color: var(--c-black);
			outline: none;
		}
	}
}

.select {
	display: inline-block;
	position: relative;
	width: 100%;
	height: 100%;

	select {
		appearance: none;
		border-radius: 0;
		cursor: pointer;
		outline: 0;
		margin: 0;
		height: 100%;
		border-left: 0;

		option:checked {
			color: #111111;
		}

		&::ms-expand {
			display: none;
		}

		&:disabled {
			opacity: 0.5;
			pointer-events: none;
		}
	}

	&:after {
		content: '\21E3';
		position: absolute;
		top: 50%;
		right: 8px;
		transform: translateY(-50%);
		color: #999999;
	}
}
